<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Гранта брат</title>
    <link rel="stylesheet" href="./static/styles.css">
    <div class="title">
    <div class="title_1">
        <img src="./img/logo.png">
    <div class="button_glavnaya">
        <p><a href="./index.html"><img src="./img/glavnaya.png"></a></p>
    </div>
    </div>
    
</div>
</head>
<body>
    <div class="granata">
        <div class="head_granata">
            <img src="./img/main_granata.jpg" alt="" />
                <h2>LADA GRANTA СЕДАН</h2>
                <h4>ДЕРЖИТ СЛОВО</h4>
                <div class="price_granata">
                    от 678 300 ₽
                    <span class="price_granata1"> от 6 775 ₽ / мес</span>
                </div> 
            </div>
        </div>
    </div>
    <div class="descr_granata">
        <p>LADA Granta не нужно кому-то что-то доказывать. Она уже заслужила доверие более миллиона автомобилистов и прошла проверку нашими дорогами. Не адаптированная, а разработанная специально для российских условий, LADA Granta уверена в себе на каждом километре пути. Увеличенные ходы подвесок, специальные настройки шасси и множество современных технологий делают поездки комфортными и безопасными. А благодаря широкой дилерской сети и трехлетней гарантии владельцам LADA Granta обеспечена постоянная поддержка в любом уголке страны. </p>
        <p>LADA Granta — это стильный и компактный, практичный и разносторонний помощник, союзник и друг. Такой, на которого всегда можно положиться и которому можно доверять на 100%.</p>
    </div>
    <div class="color_granata">
        <h2>ЦВЕТОВАЯ ГАММА</h2>
        <img src="./img/195_granata.png">
        <div class="styles_color">
            <button type="button", class="button1">
            </button>
            <button type="button", class="button2">
            </button>
            <button type="button", class="button3">
            </button>
            <button type="button", class="button4">
            </button>
            <button type="button", class="button5">
            </button>
            <button type="button", class="button6">
            </button>
            <button type="button", class="button7">
            </button>
            <button type="button", class="button8">
            </button>
            <button type="button", class="button9">
            </button>
            <button type="button", class="button10">
            </button>
            <button type="button", class="button11">
            </button>
            <button type="button", class="button12">
            </button>
            <button type="button", class="button13">
            </button>
            <button type="button", class="button14">
            </button>
        </div>
        <div class="color_descr_granata">
            КРАСНЫЙ "СЕРДОЛИК" (195) - МЕТАЛЛИК
            <span class="color_cost">
                Доплата: 0 ₽
            </span>
        </div>
    </div>
    <div class="tech_granata">
        <h2>ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ</h2>
        <img src="./img/granata_tech.png">
        <img src="./img/granata_tech_tabl.png">
    </div>


    
</body>
</html>