<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ларгус брат</title>
    <link rel="stylesheet" href="./static/styles.css">
    <div class="title">
    <div class="title_1">
        <img src="{{url_for('static', filename='logo.png')}}">
    <div class="button_glavnaya">
        <p><a href="{{url_for('index')}}"><img src="{{url_for('static', filename='glavnaya.png')}}"></a></p>
    </div>
    </div>
</div>
</head>
<body>
    <div class="granata">
        <div class="head_granata">
            <img src="{{url_for('static', filename='main_largus.jpg')}}" alt="" />
                <h2>LADA LARGUS УНИВЕРСАЛ</h2>
                <h4>С МЕСТАМИ ДЛЯ ПОЦЕЛУЕВ</h4>
                <div class="price_granata">
                    от 1 300 900 ₽
                    <span class="price_granata1"> от 13 183 ₽ / мес</span>
        <div class="avto_goda">
            <img src="{{url_for('static', filename='avto_goda.png')}}">
        </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="descr_granata">
        <p>LADA Largus — гармония стиля и практичности. Тот самый случай, когда крупный вместительный автомобиль выглядит легким и стремительным. Фирменный дизайн решетки радиатора и бампера, аэродинамичная форма зеркал, комбинация черного пластика и металлического глянца — модный и фотогеничный Largus придется по вкусу всей семье. Ведь этот просторный универсал создан для того, чтобы нравиться. </p>
        <p>LADA Largus — автомобиль, полностью адаптированный к российской природе и дорожным условиям.</p>
    </div>
    <div class="color_granata">
        <h2>ЦВЕТОВАЯ ГАММА</h2>
        <img src="{{url_for('static', filename='136_largus.png')}}">
        <div class="styles_color">
            <button type="button", class="button1">
            </button>
            <button type="button", class="button2">
            </button>
            <button type="button", class="button3">
            </button>
            <button type="button", class="button4">
            </button>
            <button type="button", class="button5">
            </button>
            <button type="button", class="button6">
            </button>
            <button type="button", class="button7">
            </button>
            <button type="button", class="button8">
            </button>
            <button type="button", class="button9">
            </button>
            <button type="button", class="button10">
            </button>
            <button type="button", class="button11">
            </button>
            <button type="button", class="button12">
            </button>
            <button type="button", class="button13">
            </button>
            <button type="button", class="button14">
            </button>
        </div>
        <div class="color_descr_granata">
            КРАСНЫЙ "КРАСНЫЙ СПЛАВ" (136) - МЕТАЛЛИК
            <span class="color_cost">
                Доплата: 15000 ₽
            </span>
        </div>
    </div>
    <div class="tech_granata">
        <h2>ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ</h2>
        <img src="{{url_for('static', filename='largus_tech.png')}}">
        <img src="{{url_for('static', filename='largus_tech_tabl.png')}}">
    </div>


    
</body>
</html>
