<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Веста брат</title>
    <link rel="stylesheet" href="./static/styles.css">
    <div class="title">
    <div class="title_1">
        <img src="{{url_for('static', filename='logo.png')}}">
    <div class="button_glavnaya">
        <p><a href="{{url_for('index')}}"><img src="{{url_for('static', filename='glavnaya.png')}}"></a></p>
    </div>
    </div>
</div>
</head>
<body>
    <div class="granata">
        <div class="head_granata">
            <img src="{{url_for('static', filename='main_redan.jpg')}}" alt="" />
                <h2>LADA VESTA СЕДАН</h2>
                <h4>ПРЕВОСХОДСТВО НА НАШЕЙ ТЕРРИТОРИИ</h4>
                <div class="price_granata">
                    от 1 121 900 ₽
                    <span class="price_granata1"> от 11 341 ₽ / мес</span>
        <div class="avto_goda">
            <img src="{{url_for('static', filename='avto_goda.png')}}">
        </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="descr_granata">
        <p>LADA Vesta — Со временем привыкаешь к красоте. К идеальным пропорциям, к сбалансированному силуэту. К каждой выверенной и законченной линии. Но LADA Vesta умеет вызывать эмоции снова и снова. Достаточно взглянуть под другим ракурсом. К примеру, через плечо, оставляя свой автомобиль на парковке.</p>
        <p>LADA Vesta — Каждый может настроить LADA Vesta под себя — для автомобиля предусмотрено много опций. </p>
    </div>
    <div class="color_granata">
        <h2>ЦВЕТОВАЯ ГАММА</h2>
        <img src="{{url_for('static', filename='195_redan.png')}}">
        <div class="styles_color">
            <button type="button", class="button1">
            </button>
            <button type="button", class="button2">
            </button>
            <button type="button", class="button3">
            </button>
            <button type="button", class="button4">
            </button>
            <button type="button", class="button5">
            </button>
            <button type="button", class="button6">
            </button>
            <button type="button", class="button7">
            </button>
            <button type="button", class="button8">
            </button>
            <button type="button", class="button9">
            </button>
            <button type="button", class="button10">
            </button>
            <button type="button", class="button11">
            </button>
            <button type="button", class="button12">
            </button>
            <button type="button", class="button13">
            </button>
            <button type="button", class="button14">
            </button>
        </div>
        <div class="color_descr_granata">
            КРАСНЫЙ "СЕРДОЛИК" (195) - МЕТАЛЛИК
            <span class="color_cost">
                Доплата: 8000 ₽
            </span>
        </div>
    </div>
    <div class="tech_granata">
        <h2>ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ</h2>
        <img src="{{url_for('static', filename='redan_tech.png')}}">
        <img src="{{url_for('static', filename='redan_tech_tabl.png')}}">
    </div>


    
</body>
</html>
